$theme-font: 'Roboto Mono', monospace;
$game-font: 'Press Start 2P', cursive;
$text-color: #222;
$gray: #e5e7eb;
$blue: #086788;
$red: #dd1c1a;
$green: #00ff5f;

body {
    background-color: $gray;
    color: $text-color;
    font-family: $theme-font;
}

.container {
    width: 100%;
}

header {
    background-color: $text-color;
    color: $gray;
    display: flex;
    padding: .5em 1% 1em;
    width: 100%;

    aside {
        h1 {
            font-size: 2em;
            margin: 0;
            text-transform: uppercase;
        }

        h2 {
            font-size: .9em;
            margin: 0;
        }

    }

    section {
        .reload-movies {
            background-color: $blue;
            border: 0;
            border-radius: 2em;
            color: $gray;
            margin: 0 auto;
            padding: 1em 2em;
            text-transform: uppercase;
        }

        span {
            display: block;
            margin-top: .75em;
            font-size: .75em;
        }
    }
}

main {
    display: flex;
    flex-flow: row wrap;
    flex-grow: 1;
    padding-top: 1em;
}

section,
aside {
    flex-grow: 1;
}

.movie {
    display: inline-block;
    text-align: center;
    margin: 0 2em;

    .movie-details {
        display: flex;
        flex-flow: row wrap;
        margin: 0 auto;
        max-width: 320px;
        width: 60%;

        h2 {
            font-size: 1em;
            height: 4em;
            opacity: .5%;
            text-align: left;
            text-transform: uppercase;
            width: 80%;
        }

        h3 {
            color: $red;
            font-size: .9em;
            text-align: right;
            width: 20%;
        }
    }

    img {
        border: 5px solid $text-color;
        height: auto;
        max-width: 320px;
        width: 100%;
    }

    .movie-btn {
        background-color: $red;
        border: 0;
        border-radius: 1.5rem;
        color: #fff;
        cursor: pointer;
        margin-bottom: .75em;
        padding: 10px 20px;
        text-transform: uppercase;
    }
}

.player-card {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    line-height: 1;
    text-transform: uppercase;

    small {
        color: $blue;
    }

    h3, h4 {
        font-family: $game-font;
        font-size: 36px;
        letter-spacing: 4px;
        margin: .5em 0;
    }

    h4 {
        color: $green;
    }

}

.answer {
    display: block;
    height: 35px;
    position: absolute;
    text-align: center;
}

.hide {
    display: none;
}
