$theme-font: 'Roboto Mono', monospace;
$game-font: 'Press Start 2P', cursive;
$text-color: #222222;

body {
    background-color: #e5e7eb;
    color: $text-color;
    font-family: $theme-font;
}

.container {
    width: 100%;
}

header {
    background-color: $text-color;
    color: #e5e7eb;
    display: flex;
    padding: .5em 1% 1em;
    width: 100%;

    aside {
        h1 {
            font-size: 35px;
            margin: 0;
            text-transform: uppercase;
        }

        h2 {
            font-size: 15px;
            margin: 0;
        }
    }

    section {

        .reloadMovies {
            border: none;
            border-radius: 2em;
            background-color: #086788;
            color: #e5e7eb;
            margin-top: 30px;
            padding: 10px 20px;
            text-transform: uppercase;
        }

        span {
            display: block;
            margin-top: 12px;
            font-size: 12px;
        }
    }
}

main {
    display: flex;
    flex-flow: row wrap;
    flex-grow: 1;
    padding-top: 1em;
}

section,
aside {
    flex-grow: 1;
}

.movie {
    display: inline-block;
    text-align: center;
    margin: 0 20px;

    .movie-details {
        display: flex;
        flex-flow: row wrap;
        margin: 0 auto;
        width: 60%;

        h2 {
            font-size: 16px;
            height: 65px;
            opacity: .5%;
            text-align: left;
            text-transform: uppercase;
            width: 80%;
        }

        h3 {
            color: red;
            font-size: 14px;
            text-align: right;
            width: 20%;
        }
    }

    img {
        border: 5px solid $text-color;
        height: auto;
        width: 60%;
    }

    .movie-btn {
        border: none;
        background-color: #dd1c1a;
        cursor: pointer;
        color: #ffffff;
        margin-bottom: .75em;
        padding: 10px 20px;
        text-transform: uppercase;
        border-radius: 1.5rem;
    }
}

.playerCard {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    line-height: 1;
    text-transform: uppercase;

    small {
        color: #086788;
    }

    h3, h4 {
        font-family: $game-font;
        font-size: 36px;
        letter-spacing: 4pt;
        margin: .5em 0;
    }

    h4 {
        color: #00ff5f;
    }

}

.answer {
    display: block;
    height: 35px;
    position: absolute;
    text-align: center;
}

.hide {
    display: none;
}