$theme-font: 'Roboto Mono', monospace;
$game-font: 'Press Start 2P', cursive;
$text-color: #254649;
$white: #FFFFFF;
$gray: #4E5758;
$blue: #01579b;
$red: #F71735;
$green: #94D500;

body {
    // background-color: $gray;
    // color: $text-color;
    font-family: $theme-font;
}

.container {
    width: 100%;
}

header {
    background-color: $gray;
    color: $white;
    display: flex;
    padding: .5em 3% 1em;

    aside {
        margin-top: 2em;

        h1 {
            font-size: 2em;
            margin: 0;
            text-transform: uppercase;
        }

        h2 {
            font-size: .7em;
            margin: 0;
        }

    }

    section {
        .reload-movies {
            border: 0;
            border-radius: 2em;
            margin: 0 auto;
            padding: 1em 2em;
            text-transform: uppercase;
        }

        span {
            display: block;
            margin-top: .75em;
            font-size: .75em;
        }
    }
}

main {
    display: flex;
    flex-flow: row wrap;
    flex-grow: 1;
    padding-top: 1em;
}

section,
aside {
    flex-grow: 1;
}

.movie {
    display: inline-block;
    text-align: center;
    margin: 0 2em;

    .movie-details {
        display: flex;
        flex-flow: row wrap;
        margin: 0 auto;
        max-width: 320px;
        width: 60%;

        h2 {
            font-size: 1em;
            opacity: .5%;
            text-align: left;
            text-transform: uppercase;
            width: 80%;
        }

        h3 {
            // color: $red;
            font-size: .9em;
            text-align: right;
            width: 20%;
        }

        small {
            font-size: .75em;
            font-style: italic;
            text-align: left;
        }
    }

    img {
        height: auto;
        max-width: 320px;
        width: 100%;
    }

    .btn-large {
        background-color: $green;
        cursor: pointer;
        margin-bottom: .75em;
        text-transform: uppercase;
    }

    .tomato-score {
        color: $red;
        font-weight: bold;
    }
}

.player-card {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    line-height: 1;
    text-transform: uppercase;

    h3, h4 {
        letter-spacing: 4px;
        margin: .5em 0;
    }

    .lives {
        ul {
            margin-top: 33px;
            padding-left: 0;

            li {
                display: inline-block;
                margin-right: 1px;
            }
        }
    }

}

.alert,
.create-player-modal {
    background-color: rgba(255, 255, 255, .4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    h3 {
        color: $text-color;
        font-size: 3.5rem;
        text-shadow: 3px 2px rgba(0, 0, 0, .3);
    }
}

.center {
    display: block;
    height: auto;
    left: 50%;
    margin-left: -150px;
    margin-top: -35px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 300px;
}

.hide {
    display: none;
}

.create-player-form {
    background-color: $white;
    padding: 1em;
    box-shadow: 2px 1px 1px rgba(0, 0, 0, .3);

    input[type=text] {
        height: 50px;
    }

    label,
    button {
        display: block;
        font-size: .75em;
        margin: 1em auto;
    }

    input {
        font-size: 1.5em;
        text-align: center;
        text-transform: uppercase;
        width: 100px;
    }

    button {
        background-color: $green;
        font-size: 1em;

        &:hover {
            background-color: $green;
        }

        &:disabled {
            cursor: not-allowed;
        }
    }
}